body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.content {
    margin: 2em;
    margin-bottom: 2rem;
    max-width: 44rem;
    text-align: justify;
}

.footer {
    margin: 0;
    margin-top: auto;
    padding: 3px;

    background-color: #ccc;


    text-align: center;
}

.card {
    max-width: 35rem;
}


.ringraziamenti > p{
    font-style: italic;
}

.math--display {
    display: block;
    overflow-x: scroll;
}
