body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.scuola {
  font-family: 'Lora', serif;
  font-size: 1rem;
}

.header {
  max-width: 800px;
}

.indice {
  max-width: 800px;
}

.content {
  max-width: 800px;
  text-align: justify;
}

.header-gif {
  width: 100%;
  max-width: 40em;
  margin: auto;
}

.csl-entry {
  margin-bottom: .7rem;
}

figure.card {
  max-width: 35rem;
}

.bibliografia a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
}